{% extends "layout.html" %}
{% block title %}
Edit Sales
{% endblock %}
{% block content %}
        <h1>Edit Sales Record</h1>
        {% for row in rows %}
        <form action="{{ url_for('editrec') }}" method="POST">
            <h3 style="color:blue">Sales ID: {{ row['rowid']}}</h3>
            <input type="hidden" name="rowid" value="{{ row['rowid'] }}">
            Name<br>
            <input type="text" name="nm" value="{{ row['name'] }}"/><br>

            Price<br>
            <input type="text" name="price" value="{{row['price']}}"/><br>

            Quantity<br>
            <input type="text" name="quantity" value="{{ row['quantity'] }}"/><br>

            Code<br>
            <input type="text" name="code" value="{{ row['code'] }}"/><br>

            <input type="submit" value="Submit" /><br>
        </form>
        {% endfor %}
{% endblock %}